@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.community-h1-shadow {
  color: #4d4d4d;
  -webkit-text-stroke: 1px #000000;
  text-shadow: 1px 1px 1px #000000;
}
